<p-card class="mt-3" header="Cadastrar Novo Chamado">
  
  <form [formGroup]="ticketForm" (ngSubmit)="salvarChamado()">
    <div class="p-fluid p-formgrid grid">

      <div class="field col-6 mt-4">
        <label for="titulo">Título*</label>
        <p-inputgroup>
            <p-inputgroup-addon><i class="pi pi-bookmark"></i></p-inputgroup-addon>
            <input pInputText id="titulo" formControlName="titulo" placeholder="Digite o título do chamado" required />
        </p-inputgroup>
      </div>

      <div class="field col-6 mt-4">
        <label for="categoria">Categoria</label>
        <p-inputgroup>
            <p-inputgroup-addon>
                <i class="pi pi-tags"></i>
            </p-inputgroup-addon>

            <p-select 
              id="categoria" 
              formControlName="categoria" 
              [options]="categorias" 
              optionLabel="label" 
              optionValue="value"
              placeholder="Selecione uma categoria">
            </p-select>

        </p-inputgroup>
      </div>

      <div class="field col-12">
        <label for="descricao">Descrição*</label>
        <p-inputgroup>
            <p-inputgroup-addon><i class="pi pi-align-left"></i></p-inputgroup-addon>
            <textarea class="col-6" id="descricao" formControlName="descricao" rows="5" placeholder="Descreva o problema detalhadamente" required></textarea>
        </p-inputgroup>
      </div>
      
      <div class="field col-12">
        <p-button 
          label="Salvar" 
          icon="pi pi-save" 
          type="submit">
        </p-button>
      </div>
      
    </div>
  </form>
</p-card>