.main-layout-container {
  display: flex;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .main-layout-container {
    flex-direction: column;
  }
}

.sidebar-area {
  width: 350px;
  height: 100%;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content-area {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

:host ::ng-deep .p-panelmenu {
  width: 100%;
}

:host ::ng-deep p-inputgroup-addon i {
  color: #34d399;
}

:host ::ng-deep .pi-bookmark {
  color: #34d399;
}

:host ::ng-deep .pi-tags {
  color: #34d399;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(10, 10, 10, 0.432);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
