/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
}
